* { 
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
header{
    overflow: hidden;
    width: 1519px;
    height: 40px;
    margin: 0 auto;
    background-color: #333333;
}
header ul{
    margin-top: 14px;
    margin-left: 140px;
}
header ul li {
    float: left;
    font-size: 14px;
    margin-left: 8px;
}
header ul li a{
    color: #b0b0b0;
    margin-right: 8px;
    text-decoration: none;
}
header ul li span{
    color: #3d423d;
}
nav{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}
nav ul:first-child{
    float: left;
    position: relative;
    top: 22px;
    left: 0;
    width: 56px;
    height: 54px;
    
    background-color: #ff6700;
    overflow: hidden;
  
}
nav ul:first-child li:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background-image: url(images/mi-logo.png);
}
nav ul:first-child:hover li:first-child{
    top: 56px;
    left: 0;
    transition:all 1s;
}
nav ul:first-child li:last-child{
    position: absolute;
    top:-56px;
    width: 56px;
    height: 56px;
    background-image: url(images/mi-home.png);
   
}
nav ul:first-child:hover li:last-child{
    top: 0;
    transition: all 1s;
}
nav>img{
    float: left;
    width: 140px;
    height: 60px;
    margin-left: 25px;
    margin-top: 22px;
}
nav ul:last-child {
    float: left;
    margin-top: 42px;
    margin-left: 18px;
}
nav ul:last-child li{
    float: left;
    margin:0 14px;
}
nav ul li a{
    color: #333333;
    text-decoration: none;
}
article{
    width: 1226px;
    height: 460px;
    margin: 0 auto ;
    background-color: #6dc9ee;
    background-image: url(images/5.png);
    background-repeat: no-repeat;
    background-position: top right;
}
article div{
    width: 235px;
    height: 460px;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
}
article div ul {
    margin-top: 5px;
}
article div ul li {
    box-sizing: border-box;
    padding: 15.3px 30px;
    float: left;
    width: 235px;
    
    
}
article div ul li a span:first-child{
    float: left;
    color: #fff;
    font-size: 14px;
}
article div ul li a span:last-child{
    float: right;
    color: #fff;
    font-size: 12px;
   margin-top: 6px;
}
article div ul li:hover,
article div ul li:hover  a span{
    color: #ff6700;
    background:rgba(0,0,0,0.7);
}
.column{
    width: 1226px;
    margin: 0 auto;
    margin-top: 14px;
    box-sizing: border-box;
    padding-bottom: 66px;
    overflow: hidden;
}
.column li:first-child img{
    float: left;
    width: 235px;
    height: 170px;
}
.column li:nth-child(n+2) img{
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 14px;
}
.shang{
    padding-top: 80px;
    background-color:#f5f5f5;
}

.title{
    width: 1226px;
    margin: 0 auto;
    font-size: 22px;
    color: #333333;
}
section{
    width: 1226px;
    height: 614px;
    margin: 0 auto;
    margin-top: 17px;
   
    
}
section>img{
    float: left;
}
section>ul>li{
    position: relative;
    top: 0;
    left: 0;
    float: left;
    margin-left: 12px;
    width: 236px;
    height: 302px;
    background-color: #fff;
   
}
section>ul>li:nth-child(n+5){
    margin-top: 10px;
}

section ul li ul li{
    text-align: center;
}
section ul li ul li img{
    margin-top: 15px;
    width: 180px;
    height: 180px;
    
}

section ul li ul li:nth-child(3){
    font-size: 14px;
    color: #b0b0b0;
    margin-top: 10px;
}
section ul li ul li:nth-child(4){
    font-size: 14px;
    color: #ff6700;
    margin-top: 18px;
}
section ul li ul li span{
    color:#b0b0b0;
    text-decoration: line-through;
}
section ul li:nth-child(1) ul li:last-child,
section ul li:nth-child(3) ul li:last-child{
    position: absolute;
    top: 0;
    left:50%;
    margin-left: -30px;
    width: 60px;
    height: 20px;
    background-color: #ffac13;
    color: #fff;
    font-size: 12px;
}
section ul li:nth-child(7) ul li:last-child{
    position: absolute;
    top: 0;
    left:50%;
    margin-left: -30px;
    width: 60px;
    height: 20px;
    background-color: #e53935;
    color: #fff;
    font-size: 12px;
}
.service{
    width: 1519px;
    height: 212px;
    background-color:#fff;
    margin: 0 auto;
    margin-top: 66px;
}
.service ul {
    float: left;
    margin-top: 60px;
    margin-right: 90px;
    
}
.service ul:first-child{
    margin-left: 148px;
}
.service ul li:first-child{
    float: left;
    font-size: 18px;
    margin-bottom: 30px;
}
.service ul li:nth-child(n+2){
    font-size: 16px;
    margin-bottom: 10px;
    color: #987575;
}
.service>div {
    float: right;
    width: 250px;
    height: 130px;
    text-align: center;
    margin-top: 70px;
    margin-right: 146px;
    border-left: 1px solid #ececec;
    overflow: hidden;
    color: #616161;
}
.service div p:first-child{
    font-size: 22px;
    color: #ff6700;
    margin-bottom: 12px;
}
.shang footer{
    position: relative;
    width: 1226px;
    margin: 0 auto;
    height: 156px;
   
}
footer>img{
    float: left;
    margin-top: 30px;
}
footer ul{
    float: left;
    margin-left: 12px;
    margin-top: 32px;
}
footer ul li {
    float: left;
    font-size: 10px;
    color: #757575;
}
footer ul li span{
    margin-left: 5px;
    margin-right: 5px;
}
footer ul li a{
    color: #757575;
    font-size: 10px;
}
footer p {
    float: left;
    font-size: 8px;
    color: #757575;
    margin-top: 5px;
    margin-left: 12px;
}
footer div{
    position: absolute;
    width: 267px;
    height: 19px;
    margin-left: -133px;
    bottom: 22px;
    left: 50%;
    background-image: url(images/9.png);
}
